
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW4kC4ZyVKhpFOeqrhiW9wo1astvXpmLY&sensor=true">
</script>	

<ol id=foodlist style="display:none;">
<% @foods.each do |food| %>
	<li lat="<%= food.latitude %>" lon="<%= food.location %>" title="<%= food.title %>" desc=<%= food.desc %> category="<%= food.category %>" photo="<%= food.photo %>"></li>
<% end %>
</ol>

<div id="geo-wrapper" style="width: 320px; height: 400px;"></div>
<span id="live-geolocation"></span>	


<script>
var map;
function lookup_location() {
alert("lookup");
  geo_position_js.getCurrentPosition(show_map, show_map_error);
}

function show_map(loc) {
  $("#geo-wrapper").css({'width':window.innerWidth,'height':'500px'});
  map = new google.maps.Map(document.getElementById("geo-wrapper"), {zoom: 16, mapTypeControl:true, zoomControl: true, mapTypeId: google.maps.MapTypeId.ROADMAP});
  var center = new google.maps.LatLng(loc.coords.latitude,loc.coords.longitude);
  map.setCenter(center);
   var pinColor = "007569";
    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
		
  var marker = new google.maps.Marker({map: map, position: center, draggable: false, title: "You are here", icon: pinImage});
  add_all();
}

function add_marker(lat,lon,title1,desc,category,photo) {
  var center = new google.maps.LatLng(lat,lon);
  var icon = new google.maps.MarkerImage(photo, null, null, null, new google.maps.Size(32, 32));
  var marker = new google.maps.Marker({map: map, position: center, draggable: false, title: title1});
  
}

function add_all() {
	$('#foodlist li').each(function(){
	  add_marker($(this).attr('lat'),$(this).attr('lon'),$(this).attr('title'),$(this).attr('desc'),$(this).attr('category'),$(this).attr('photo'));
	});
}


function show_map_error() {
  $("#live-geolocation").html('Unable to determine your location.');
}

$(function() {
  if (geo_position_js.init()) {
    lookup_location();
	
  } else {
    $("#live-geolocation").html('Unable to determine your location.');
  }
});
</script>
