<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>What kind of food is it?</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Tell the world about your food:</label>
    <%= f.text_field :desc %>
  </div>



    <%= f.hidden_field :photo, value: :id %>



  <div class="field">
    <%= f.label :category %><br />
    <%# f.select("food", "category", :id, :name ) %>
    <%# f.select :category, @categories %>
    <%# f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit "Post your food!" %>
  </div>
<% end %>

<span id="live-geolocation"></span>	

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
<script src="http://stanford.edu/~zoellner/freefood/geo.js"></script>
<script>

function lookup_location() {
  geo_position_js.getCurrentPosition(set_lon_lat, show_map_error);
}


function set_lon_lat(loc) {
  $("#food_location").val(loc.coords.longitude);
  $("#food_latitude").val(loc.coords.latitude);
}

function show_map_error() {
  $("#live-geolocation").html('Unable to determine your location.');
}

$(function() {
  if (geo_position_js.init()) {
    lookup_location();
	
  } else {
    $("#food_location").val(0);
	$("#food_latitude").val(0);
  }
});
</script>
