<div class="container">
<p id="title">&nbsp;Food feed 
&nbsp;&nbsp;
<span class="btn">
  <%= link_to 'Post Food', new_food_path %>
</span>
<span class="btn">
  <%= link_to 'Map', map_path %>
</span></p>
<br>
<table>

<% @foods.each do |food| %>
  <tr>

    <td><img src="<%= food.photo %>" width="100",height="100"></td>
    <td>
    <td><ul><li><b><%= food.title %></b>
        <% if food.category == 2 %>
          <span class="label label-success">Vegetarian
        <% else %>
          <span class="label label-important">Non-vegetarian
        <% end %></span>
      </li>
      <li><%= food.desc %></li>
      <li><!-- food.location --></li>
      <li><%= link_to 'Show me!', food %> | 
      <%= link_to 'Edit', edit_food_path(food) %> | 
      <%= link_to 'Food\'s gone', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </td></li></ul>
  </tr>
<% end %>
</table>

<br />

<span class="btn">
  <%= link_to 'Post Food', new_food_path %>
</span>
</div>
