<div>

<form enctype="multipart/form-data" method="post" action="http://stanford.edu/group/spacegrav/cgi-bin/form/file_upload_script.php">

<input id=photoid name=photoid required type="hidden" value="<%= @food.id %>" />

<p><label for=photo>Take a photo of your food!</label></p>
<input id=photo name=photo type=file accept="image/*" required >
<br>
<input type="submit" value="Add photo" />&nbsp;<%= link_to "Skip", root_path %>
</form>





<h1>
  <%= @food.title %>
</h1>

<p>
  <b>Desc:</b>
  <%= @food.desc %>
</p>

<p>
  <b>Category:</b>
  <%= @food.category %>
</p>

<p>
  <b>Location:</b>
  <%= @food.location %>
</p>

<p>
  <b>Photo:</b>
  <%= @food.photo %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
</div>
