<!DOCTYPE html>
<html>
<head>
  
  <title>Freefood</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="/assets/icon.png" />
	<link rel="apple-touch-startup-image" href="/assets/splash.png" />
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
 
	<script type="text/javascript" src="http://stanford.edu/~zoellner/freefood/mobileapp.js"></script>
	<script type="text/javascript" src="http://stanford.edu/~zoellner/freefood/geo.js"></script>
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="lookup_location()">
<%= render 'layouts/header' %>
<div id="content">  
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
